
# task 01 Reflection

In this lab, I learned how to use Git and GitHub to manage my project files. I practiced creating new files, committing changes, and pushing them to my remote repository. I also learned how branches work and how they help in organizing different versions of a project. Using Visual Studio Code with Git made it easier to track changes and manage my work. Overall, this lab improved my understanding of version control and project management.