*{
box-sizing:border-box;
font-family: Arial, sans-serif;
}

body{
margin:20px;
background:#afadad;
}

h1{
text-align:center;
color:darkred;
}

nav{
display:flex;
justify-content:center;
border:1px solid #302d2d;
padding:20px;
background: #e8f539;
margin-bottom:20px;
border-radius: 20px;
}

ul{
display:flex;
gap:30px;
list-style:none;
}

a{
text-decoration:none;
color:black;
font-weight:bold;
}

a:hover{
color:orange;
border-bottom:2px solid rgba(194,134,5,0.342);
}

p{
color:#333;
}

.text{
font-size:18px;
color:blue;
}

#title{
text-align:center;
color:darkred;
}

div p{
color:green;
}

a[href]{
color:purple;
}

a[target="_blank"]{
color:red;
font-weight:bold;
}

li:first-child{
color:blue;
}

li:last-child{
color:red;
}

li:nth-child(2){
font-weight:bold;
}

.btn{
padding:10px 20px;
background:blue;
color:white;
border:none;
cursor:pointer;
}

.btn:hover{
background:black;
}

p::first-letter{
font-size:24px;
color:red;
}

p::after{

color:green;
}

.navbar{
display:flex;
justify-content:center;
align-items:center;
border:1px solid #302d2d;
padding:20px;
margin-bottom:20px;
}

.subtitle{
text-align:center;
}

.gallery{
display:flex;
justify-content:center;
align-items:center;
flex-wrap:wrap;
gap:20px;
margin-top:40px;
}

.footer{
display:flex;
justify-content:center;
align-items:center;
border:1px solid #302d2d;
padding:20px;
margin-top:40px;
background:#f0f0f0;
}